:root {
    --responsive-font-size: min(40px, 5vh);
    --responsive-box-width: min(60vw, 650px);  
    --responsive-arrow-thickness: 8px;
}

input, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.conversion-table{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
}

    .conversion-table form{
        display: flex;
        height: 25vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

        .conversion-table form input {
            text-align:center;
            width: var(--responsive-box-width);
            height: 10vh;
            border-radius: 15px;
            font-size: var(--responsive-font-size);  
            color: var(--dark-color);
            background-color: var(--light-color);
            box-shadow: inset 1px 3px 3px 3px rgba(0,0,0,0.5);
        }

        .conversion-table form select {
            width: var(--responsive-box-width);
            height: 10vh;
            padding: 0 0 0 calc(0.5*var(--responsive-box-width) - 1.5*var(--responsive-font-size)); /*26vw >=1050px 25vw >=750px*/
            border-radius: 15px;
            font-size: var(--responsive-font-size);
            background-color: var(--other-medium-color);
            color:var(--light-color)
        }

.arrow {
    display:flex;
    align-items: flex-end;
}

.arrow div{
    border-radius: 24px;
    background-color: var(--accent-color);
    
}
.arrow .down {
    width: 8px;
    height: 16vh;
    margin-bottom: 12px;
}

.arrow .left {
    width: 8px;
    height: 32px;
    transform: rotate(-45deg);
    margin-right:1px;
}
.arrow .right {
    width: 8px;
    height: 32px;
    transform: rotate(45deg);
    margin-left:1px;
}